textarea{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: darkslategray;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        display: none;
    }
}