.navbar{
    position: relative;
    width: 100%;
    background-color: #282828;

    .wrapper{
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        
        .left{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex: 2;

            .logo{
                margin: 0 2rem 0 0;
                padding: .75rem;
                font-size: 1.25rem;
                color: azure;
                background: transparent;
                border-radius: 8px;
                border: none;
                outline: 1px solid #555;
            }
            .nav-icon{
                margin: 0 1rem;
                font-size: 1.5rem;
                color: #FFF;
                transition: all .3s ease;

                &:hover{
                    transform: translateY(-5px);
                    text-shadow: 0 2px 10px rgba($color: #FFF, $alpha: 0.15);
                }
            }
        }

        .right{
            position: relative;
            flex: 5;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;

            .ad{
                position: relative;
                flex: 1;
                height: calc(10vh - 1rem);
                background: linear-gradient(120deg, fuchsia, red);
                display: grid;
                place-content: center;
                color: #FFF;
            }
        }
    
    }

}

@media (max-width: 768px) {
    .navbar{
        .wrapper{
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            .left, .right{
                width: 100%;
                flex: unset;
                align-items: center;
                justify-content: center;
            }
            .right{
                flex-direction: column;
                margin-bottom: 2rem;
                gap: .5rem;
                height: auto;

                .ad{
                    flex: unset;
                    width: 100%;
                    height: 4rem;
                    font-size: .75rem;
                }
            }
        }
    }
}